.conent
  .content__info
    チャットグループが作成されました。
  .admin
    .admin__back-black
      .admin__namebox username
      %ul.admin__awesome
        %li.admin__icons= fa_icon("edit")
        %li.admin__icons= fa_icon("cog")
    .admin__history
      - 20.times do
        .admin__box
        %p.admin__admin-user username
        %p.admin__admin-message メッセージはありません。
  .message
    .message__back-white
      .message__leftside
        %p.message__message-group groupname
        %p.message__message-user Member : username
      .message__rightside
        = link_to 'Edit', '/', class: 'message__rightside-button'
    .chat
      .chat__box
        - 20.times do
          .chat__upper
          %p.chat__chat-user asaisorami
          %p.chat__create-time 2018/03/12 09:58
          %p.chat__chat-message こんにちは
    .form.type
      = form_for '' do |f|
        = f.text_area :content, class: 'type__holder', placeholder: "type a message"
        = f.label :image, class: 'type__photo' do
          = fa_icon("picture-o")
        = f.file_field :image, class: 'type__photo-file'
        = f.submit 'Send', class: 'type__submit-button'
