.conent
  = render 'flash'
  .admin
    .admin__back-black
      .admin__namebox
        = current_user.name
      %ul.admin__awesome
        %li.admin__icons
          = link_to new_group_path(current_user) do
            = fa_icon 'edit', class: 'icon'
        %li.admin__icons
          = link_to edit_user_path(current_user) do
            = fa_icon 'cog', class: 'icon'
    .admin__history
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          .admin__box
          %p.admin__user-upper
            = group.name
          %p.admin__message-lower
            メッセージはありません。
  .message
    .message__back-white
      .message__leftside
        %p.message__group-upper groupname
        %p.message__user-lower
          = "Menber : #{current_user.name} "
      .message__rightside
        = link_to edit_group_path(current_user) do
          %p Edit
    .chat
      .chat__box
        - 20.times do
          .chat__upper
          %p.chat__over-user
            = current_user.name
          %p.chat__create-time 2018/03/12 09:58
          %p.chat__under-message こんにちは
    .form.type
      = form_for '' do |f|
        = f.text_area :content, class: 'type__holder', placeholder: "type a message"
        = f.label :image, class: 'type__photo' do
          = fa_icon 'picture-o', class: 'icon'
        = f.file_field :image, class: 'type__photo-file'
        = f.submit 'Send', class: 'type__submit-button'
